; command for getting a coverage report:
;  pytest --doctest-modules --cov=boltons --cov-report html --cov-config tests/.coveragerc tests/ boltons/
; (run from project directory)

[run]
branch = True

[html]
directory = htmlcov
